# ===== Android / Gradle =====
*.apk
*.aab
*.dex
*.class

bin/
gen/
out/
build/

.gradle/
local.properties

# ===== Android Studio =====
.idea/
*.iml
*.log

# ===== OS =====
.DS_Store
Thumbs.db

# ===== Kotlin =====
.kotlin/

# ===== External Native Build =====
.externalNativeBuild/
.cxx/

# ===== Secrets =====
google-services.json
